
@{
    ViewBag.Title = "Главная страница";
    ViewBag.MyText = "Лабораторная работа №2";
    SelectList Colors = new SelectList(Enum.GetValues(typeof(System.Drawing.KnownColor)));
    ViewBag.Colors = Colors; ViewBag.MyText = Request.QueryString["Colors"] ?? "Лабораторная работа №2";
}

@section SidePanel
{
    <div class="alert-success">
        <h4><i>Пример работы с секциями на странице шаблона</i></h4>
    </div>
}

<h2>Hello World!</h2>

<!--Основная панель-->
<div class="col-md-9">
    <div class="container">
        <header>
            <h3>Список</h3>
        </header>
        <ol type="A">
            @for (int i = 1; i < 5; i++)
            {
            <li>элемент @i списка</li> }
        </ol>
        <hr />
        <div class="col-md-8 col-md-offset-3">
            @Html.DropDownList("Colors")
        </div>
        <header>
            <h3>Форма</h3>
        </header>
        @using (Html.BeginForm("Index", "Home", FormMethod.Get, new { @class = "form-horizontal" }))
        {
                <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                            @Html.CheckBox("cBox1") Чек бокс 1
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                            @Html.CheckBox("cBox2") Чек бокс 2
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <label>@Html.RadioButton("rButton", 1, true)Радио-1</label>
                    <label>@Html.RadioButton("rButton", 1, true)Радио-2</label>                    
                </div>
            </div>
            <div class="form-group">
                <label for="inputLogin" class="col-sm-2 control-label">Login:</label>
                <div class="col-sm-10">
                    @Html.TextBox("login", null, new { @class = "form-control", placeholder = "Введите логин" })
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="col-sm-2 control-label">Password:</label>
                <div class="col-sm-10">
                    @Html.TextBox("login", null, new { @class = "form-control", placeholder = "Введите пароль" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default" style="background-color:#EBFFFF">Отправить</button>
                </div>
            </div>
        }
        </form>
    </div>
</div>
<!--/Основная панель (конец)-->